body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#results {
    display: flex;
    justify-content: space-evenly;
}

#results div{
    margin: 32px
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 16px;
}